body{
	margin: 0cm;

}

/*
header{
		background-color: cadetblue;
		padding: 5px;

}

nav{
	display: grid;
	grid-template-columns: 1fr;

	background-color: lavender;
	padding: 5px;
}

section{
		background-color: aqua;
		padding-top: 2px;
		padding-left: 4px;

}

aside{
	background-color: gainsboro;
	padding: 5px;

}

footer{
	   background-color: floralwhite;
	   padding: 20px;

}

div{
	display: grid;
	grid-template-columns: 1fr 1fr;
}


